.windowDragHandle:hover {
    cursor: pointer;
}

.windowComponent {
    padding-top: 10x;
    padding-bottom: 10px;
    pointer-events: auto;
}

.windowComponent p {
    margin-top: 10px;
    margin-bottom: 10px;
}