.bottomBar {
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-color: #565656;
    padding-left: 5px;
    pointer-events: auto;
}

  .bottomBar .icon {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
}

.bottomBar .icon:hover {
    cursor: pointer;
}